.container {
    margin: 0 auto;
    max-width: 500px;
    > div {
        padding: 5px;
        label {
            font-weight: bold;
        }
        input, textarea {
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            display: inline-block;
            border: none;
            border-radius: 6px;
            background: #ddd;
        }
        input:focus {
            background-color: #ddd;
            outline: none;
        }
    }
}

[contenteditable=true]:empty:before {
    content: attr(placeholder);
    display: block;
    /* For Firefox */
}