<div class="main">
  <p class="title">Tags</p>
  <div class="filter-tags">
    <form [formGroup]="form" (ngSubmit)="onAdd">
      <tag-input [placeholder]="'Filter Tags...'" formControlName='tags' style="width: 100%" (onAdd)="onAdd($event)" (onRemove)="onRemove($event)">
        <tag-input-dropdown [autocompleteObservable]='requestAutocompleteTags'>
        </tag-input-dropdown>
      </tag-input>
    </form>
  </div>
  <div class="tag-list">
    <a *ngFor="let tag of tags" (click)="onSelect(tag.name)">
      {{ tag.name }}
    </a>
  </div>

  <div [hidden]="tagsLoaded">
    Loading tags...
  </div>

  <div [hidden]="!tagsLoaded || tags.length > 0">
    No tags are here... yet.
  </div>
</div>