.main {
    border: 1px solid #dddfe2;
    background: #ffffff;
    .title {
        color: #c6c6c6;
        font-weight: bold;
    }
    text-align: center;
    .tag-list {
        display: flex;
        flex-wrap: wrap;
        margin: 8px;
        a {
            padding: 0.4em;
            margin: 2px;
            color: #39739d;
            background-color: #E1ECF4;
            border-color: #E1ECF4;
            text-decoration: none;
            text-align: center;
            border-width: 1px;
            border-style: solid;
            border-radius: 3px;
            transition: all .15s ease-in-out;
            cursor: pointer;
        }
        a.selected-tag {
            color: #ffffff;
            background-color: #2a86ca;
        }
        
    }
}