<div class="main">
  <p class="title">Tags</p>
  <div class="filter-tags">
    <form [formGroup]="form">
      <tag-input [placeholder]="'Filter Tags...'" [onlyFromAutocomplete]="true" formControlName='filteredTags' style="width: 100%">
        <tag-input-dropdown [autocompleteItems]='autocompleteItems'>
        </tag-input-dropdown>
      </tag-input>
    </form>
  </div>
  <div class="tag-list">
    <a *ngFor="let tag of allTags" (click)="onSelect(tag.name)">
      {{ tag.name }}
    </a>
  </div>

  <div [hidden]="tagsLoaded">
    Loading tags...
  </div>

  <div [hidden]="!tagsLoaded || allTags.length > 0">
    No tags are here... yet.
  </div>
</div>