<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="container">
    <h1>New post</h1>
    <hr>
    <div *ngIf="hasError()" class="form-error">
      <div *ngFor="let error of errors">
        {{error}}
      </div>
    </div>
    <div #showValidationMessageTitle>
      <input #titleInput type="title" style="width: 100%" placeholder="Enter Title" id="title" formControlName="title"
        required [ngClass]="{focus: showValidationMessageTitle.value}" (focus)="showValidationMessageTitle.value = true"
        (focusout)="showValidationMessageTitle.value = false">
      <i *ngIf="!showValidationMessageTitle.value && f.title.touched && f.title.errors" class="fas fa-info-circle"
        (click)="titleInput.focus()"></i>
      <div *ngIf="showValidationMessageTitle.value && f.title.touched && f.title.errors" class="contextualLayerPositioner">
        Enter a valid title
      </div>
    </div>
    <div #showValidationMessageContent>
      <quill-editor #contentInput style="width: 100%; height: 1000px;" placeholder="Enter Content" id="content"
        formControlName="content"></quill-editor>
    </div>

    <div class="clearfix">
      <button [disabled]="loginForm.invalid" type="submit" class="signupbtn">Save</button>
    </div>
  </div>
</form>