<ng-container *ngIf="comments.nodes">
  <div *ngFor="let comment of comments.nodes.slice().reverse()">
    <div style="display: flex">
      <div class="avatar">
        <i class="fas fa-user-circle fa-3x"></i>
      </div>
      <div class="comment-content" [innerHTML]="comment.content | safeHtml"></div>
    </div>
    <div class="show-reply"><button (click)="showReplyForm(comment.id)">Reply</button></div>
    <div class="replies" *ngIf="comment.postCommentsByParentId.nodes">
      <button *ngIf="comment.postCommentsByParentId.pageInfo.hasNextPage"
        (click)="showMoreReplies(comment.postCommentsByParentId, comment.postCommentsByParentId.nodes[0].parentId, comment.postCommentsByParentId.nodes.length)">
        Show replies
        ({{comment.postCommentsByParentId.totalCount - comment.postCommentsByParentId.nodes.length}})</button>
      <div *ngFor="let reply of comment.postCommentsByParentId.nodes.slice().reverse()">
        <div style="display: flex">
          <div class="avatar">
            <i class="fas fa-user-circle fa-3x"></i>
          </div>
          <div class="comment-content" [innerHTML]="reply.content | safeHtml"></div>
        </div>
        <div class="show-reply"><button (click)="showReplyForm(reply.id)">Reply</button></div>
        <div class="replies">
          <ng-container *ngIf="reply.postCommentsByParentId.nodes; else showReplies">
            <button *ngIf="reply.postCommentsByParentId.totalCount > reply.postCommentsByParentId.nodes.length"
              (click)="showMoreReplies(reply.postCommentsByParentId, reply.id, reply.postCommentsByParentId.nodes.length)">Show
              replies
              ({{reply.postCommentsByParentId.totalCount - reply.postCommentsByParentId.nodes.length}})</button>
          </ng-container>
          <ng-template #showReplies>
            <button *ngIf="reply.postCommentsByParentId.totalCount > 0"
              (click)="showMoreReplies(reply.postCommentsByParentId, reply.id, 0)">Show replies
              ({{reply.postCommentsByParentId.totalCount}})</button>
          </ng-template>
        </div>
        <div class="replies">
          <app-comment-list *ngIf="reply.postCommentsByParentId.nodes" [comments]="reply.postCommentsByParentId"
            [postId]="postId"></app-comment-list>
        </div>
        <div class="reply">
          <form *ngIf="showReply[reply.id]" [formGroup]="form"
            (ngSubmit)="addReply(reply.postCommentsByParentId, reply.id)">
            <quill-editor id="{{'reply-' + reply.id}}" #contentInput placeholder="Enter Content" formControlName="content"></quill-editor>
            <input type="submit" value="Comment">
          </form>
        </div>
      </div>
    </div>
    <div class="reply">
      <form *ngIf="showReply[comment.id]" [formGroup]="form"
        (ngSubmit)="addReply(comment.postCommentsByParentId, comment.id)">
        <quill-editor id="{{'reply-' + comment.id}}" #contentInput placeholder="Enter Content" formControlName="content"></quill-editor>
        <input type="submit" value="Comment">
      </form>
    </div>
  </div>
</ng-container>