.replies,
.show-reply {
    padding-left: 60px;
}

.reply {
    padding-left: 120px;
}

.avatar {
    margin-top: 10px;
}

.comment-content {
    background-color: #e9ebee;
    border-radius: 18px;
    width: 100%;
    margin: 10px;
    padding: 0 5px;
}

button, input[type=submit] {
    padding: 2px 8px;
    color: #385899;
    background-color: #E1ECF4;
    border-color: #E1ECF4;
    text-decoration: none;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    transition: all .15s ease-in-out;
}

form, input[type=submit] {
    margin-top: 5px;
}

.show-more-replies {
    margin-top: 5px;
}

.comment-actions {
    cursor: pointer;
    font-weight: bold;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content div:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: transparent;
}