.content-wrapper {
    background-color: #ffffff;
    height: 54px; // border-bottom: 1px solid #4267AF;
    color: #fff;
    -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, .3);
    box-shadow: 0 1px 8px rgba(0, 0, 0, .3);
}

#toolbar {
    a {
        color: rgba(0, 0, 0, 0.87);
        font-weight: bold;
    }
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    .left {
        width: calc(100% - 120px);
        display: inline-block;
        form {
            display: inline-block;
        }
    }
    .right {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        display: flex;
        align-items: center;
        .dropbtn {
            background-color: transparent;
            border: none;
            outline:none;
            cursor: pointer;
        }
        .dropdown {
            position: relative;
            display: inline-block;
        }
        .dropdown-content {
            display: none;
            position: absolute;
            right: 0;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }
        .dropdown-content a:hover {
            background-color: #f1f1f1;
        }
        .dropdown:hover .dropdown-content {
            display: block;
        }
        .dropdown:hover .dropbtn {
            background-color: transparent;
        }
    }
    div {
        a {
            text-decoration: none;
            padding: 0 8px;
        }
    }
}

.top {
    width: calc(100% - 16px);
    position: fixed;
    top: 0;
}

#search-form {
    width: calc(100% - 160px);
    input {
        width: calc(100% - 160px);
        min-width: 145px;
        height: 30px;
        padding: 0 40px 0 8px;
        border-radius: 2px;
        font-size: 13px;
        margin: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: none;
        font-size: 100%;
        font: inherit
    }
}

#submit-button {
    width: auto !important;
    height: 30px;
    padding: 1px 8px 0 8px;
    border: none;
    background: none;
    font-size: 13px;
    font-weight: 600;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    color: #616770 !important;
    margin-left: -30px;
}

#submit-button:hover {
    background: #cfcfd1;
}

/* @media screen and (max-width:420px) {
  #search-form input {
    width: 180px
  }
}

@media screen and (max-width:420px) {
  #search-form input {
    width: 180px
  }
}

@media screen and (max-width:360px) {
  #search-form input {
    width: 120px
  }
}
 */