.detail {
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    .content {
        padding: 8px;
        margin: 10px 0;
        border: 1px solid #dddfe2;
    }
}

::ng-deep {

    img,
    video {
        max-width: 800px;
    }
}

button, input[type=submit] {
    padding: 2px 8px;
    color: #385899;
    background-color: #E1ECF4;
    border-color: #E1ECF4;
    text-decoration: none;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    transition: all .15s ease-in-out;
}

form, input[type=submit] {
    margin-top: 5px;
}