<div style="max-width: 800px;margin: 0 auto;">
  <h2>{{(postView | async)?.title}}</h2>
  <p [innerHTML]="(postView | async)?.content | safeHtml"> </p>
  <div class="comments">
    <h3>Comments ({{comments.totalCount}})</h3>
    <app-comment-list [comments]="comments" [postId]="postId" [currentOffset]="getCommentsParam.offset">
    </app-comment-list>
    <button *ngIf="comments.nodes && comments.pageInfo.hasNextPage"
      (click)="showMoreComments(comments.nodes[0].parentId, comments.nodes.length)">Show more comments
      p</button>
    <form [formGroup]="form" (ngSubmit)="addComment()">
      <quill-editor #contentInput style="width: 100%; height: 1000px;" placeholder="Enter Content" id="content"
        formControlName="content"></quill-editor>
      <input type="submit" value="Comment">
    </form>
  </div>
</div>