div {
    margin: 0 auto;
    min-width: 480px;
    max-width: 800px;

    article {
        background-color: #ffffff;
        padding: 8px;
        margin: 10px 0;
        border: 1px solid #dddfe2;

        h2 {
            a {
                color: #000000;
                text-decoration: none;
            }

            a:hover {
                color: #4267AF;
            }
        }

        p {
            cursor: pointer;
        }
    }
}